@import "assets/style/color.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 7.313rem;
  height: 2.25rem;
  font-weight: 500;
  font-size: 1rem;
  color: $white;
  background-color: $navy-blue;
  border: 0.063rem solid $light-periwinkle;
  border-radius: 0.313rem;
  margin: 3.563rem 0;
}
