@import "assets/style/color.scss";

.textarea {
  width: 21.938rem;
  height: 5rem;
  border-radius: 0.313rem;
  resize: none;
  border: 0.188rem solid $light-blue;
}

.container {
  width: 23.875rem;
  height: 10.188rem;
  border: 0.063rem solid $light-blue;
  border-radius: 0.313rem;
  position: relative;
}

.task {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.758rem;
  color: $navy-blue;
}

.taskDone {
  color: $vivid-green;
  text-decoration: line-through;
}

.dateText {
  font-size: 0.875rem;
  font-weight: 700;
  color: $blue-grey;
  line-height: 1rem;
}

.actionButtonContainer {
  width: 8.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: calc(50% - 8.375rem / 2 + 6.813rem);
  top: calc(50% - 1.5rem / 2 + 3.156rem);
}

.completedText {
  position: absolute;
  width: 8.375rem;
  height: 1.5rem;
  font-size: 0.75rem;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(50% - 8.375rem / 2 + 6.813rem);
  top: calc(50% - 1.5rem / 2 + 3.156rem);
  background: $lavender-blue;
  border-radius: 0.313rem;
}

.button {
  width: 5.688rem;
  height: 2.25rem;
  border-radius: 0.313rem;
  border: 0.063rem solid #dde2ff;
}

.error {
  display: block;
  color: $red;
}
