@import "assets/style/color.scss";

.textarea {
  border-radius: 0.313rem;
  border: 0.188rem solid $light-blue;
  height: 5rem;
  resize: none;
  width: 21.938rem;
}

.container {
  border-radius: 0.313rem;
  border: 0.063rem solid $light-blue;
  height: 10.188rem;
  width: 23.875rem;
}

.actionButtonContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 8.125rem;
}

.button {
  border-radius: 0.313rem;
  border: 0.063rem solid #dde2ff;
  height: 2.25rem;
  width: 5.688rem;
}

.error {
  color: $red;
  display: block;
}
