@import "assets/style/color.scss";
@import "assets/style/breakPoints.scss";

.taskBoard {
  display: grid;
  gap: 2.125rem;
  grid-template-columns: repeat(3, calc((100% - 4.25rem) / 3));
}

.container {
  margin: auto;
  padding: 3.125rem 0;
  width: 80%;
}

.topBar {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .createButton {
    align-items: center;
    background-color: $lavender-blue;
    border-radius: 0.313rem;
    border: none;
    color: $white;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    height: 2.25rem;
    justify-content: center;
    line-height: 1.172rem;
    width: 6.5rem;

    .addIcon {
      background: transparent;
      height: 1rem;
      margin-right: 0.313rem;
      width: 1rem;
    }
  }

  .filterBar {
    align-items: center;
    display: flex;
    gap: 1.25rem;
    margin-bottom: 2.125rem;
    width: 15.625rem;

    .filterButton {
      background-color: $white;
      border-radius: 0.313rem;
      border: 0.063rem solid $light-periwinkle;
      color: $navy-blue;
      font-size: 1rem;
      font-weight: 500;
    }
    .filterButtonActive {
      background-color: $lavender-blue;
      color: $white;
    }
  }
}

.title {
  color: $navy-blue;
  font-size: 1.875rem;
}

@media only screen and (max-width: $screen-sm) {
  .taskBoard {
    grid-template-columns: repeat(1, 100%);
  }
  .topBar {
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
  }
  .title {
    text-align: center;
  }
}

@media only screen and (min-width: $screen-sm) and (max-width: $screen-md) {
  .taskBoard {
    grid-template-columns: repeat(2, calc((100% - 2.125rem) / 2));
  }
}
