.container {
  margin: auto;
  max-width: 78rem;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        padding-left: 0.875rem;
      }
    }
  }
}
