@import "assets/style/color.scss";
.container {
  background-color: $white;
  border: 0.063rem solid $light-periwinkle;

  .navbar {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        padding-left: 0.875rem;
        color: $lavender-blue;
      }
    }

    .searchBar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      .searchField {
        width: 50%;
        height: 2.25rem;
        border: 0.188rem solid $light-blue;
        background-color: $white;
        border-radius: 0.313rem;
        margin-right: 1.063rem;
        width: 500;
        font-size: 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: $navy-blue;
      }
    }
  }
}
