.container {
  margin: auto;
  max-width: 78rem;

  .navbar {
    align-items: center;
    display: flex;
    height: 4.5rem;
    justify-content: space-between;

    .logo {
      align-items: center;
      display: flex;
      justify-content: center;

      .title {
        padding-left: 0.875rem;
      }
    }
  }
}
