.textarea{
    width: 21.938rem;
    height: 5rem;
    border-radius: 0.313rem;
    resize: none;
    border: 0.188rem solid #D1D8FF;
}
.container{
    width: 23.875rem;
    height: 10.188rem;
    border: 0.063rem solid #DDE2FF;
    border-radius: 0.313rem;
}